
.containerHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
}
.links {
    display: flex;
    justify-content: start;
    gap: 10px;
    margin-left: 40px;
}
.navLink {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 7px 5px;
    display: inline-block;
}
.active-link {
  background-color: rgb(185, 183, 183);
  border-radius: 10px;
}
